@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap");

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	min-width: 320px;
}

html
{
	height: 100%;
} 

body
{
	min-height: 100%;

	background: linear-gradient(to right, #00D2FF, #3A7BD5);
}

body, input, a, button
{
	font-family: "Fira Sans Condensed", sans-serif;
}

#boards
{
	display: flex;
	flex-flow: row wrap;
}

.board
{
	display: inline-flex;
	flex-flow: column nowrap;

	width: 100%;
	max-width: 300px;
	margin: 25px;
	padding: 25px;

	transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);

	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.board > .board-name
{
    font-size: 26px;
	margin-bottom: 15px;
	padding: 5px 15px;

	cursor: move;
	text-align: center;
	text-transform: uppercase;
}

.board > input.board-name
{
    font-weight: bold;
    font-family: "Fira Sans Condensed", sans-serif;
    background-color: transparent;
    border: 0;    
}

.board > .task
{
	margin: 5px;
	padding: 10px 15px;

	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.board > .add
{
	padding-top: 15px;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
	text-align: center;
	text-transform: uppercase;

	opacity: 0.5;
}

.board > .add:hover
{
	opacity: 1;
}

.board-add
{
	width: 300px;
	height: min-content;
	margin: 25px;
	padding: 15px;

	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
	text-align: center;
	text-transform: uppercase;

	opacity: 0.7;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.board-add:hover
{
	opacity: 1;
}

.context
{
	position: fixed;
	z-index: 100;

	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.context > a, .context > p
{
	font-family: "Fira Sans Condensed", sans-serif;

	padding: 10px 20px;

	cursor: pointer;
	transition: all 1s cubic-bezier(0.25,0.8,0.25,1);
	text-align: center;
	text-transform: uppercase;
}

.context > a:hover, .context > p:hover
{
	background-color: rgb(218, 218, 218);
}
